<% provide(:title, 'About') %>

<div class="span12" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <div class="center hero-unit">
    <img src="<%= asset_path "us.png" %>"/>
  </div>
  </div>

<div class= "row">
  <div class="span4">
    <img src="<%= asset_path "shashi.png" %>"/>
  </div>
  <div class="span8">
    <h1>Shashi</h1>
    <p>Shashi Jain has served as project manager and R&D lead for numerous aerospace projects. He began as a signal and image processing engineer at Northrop Grumman. There he worked on back-end data processing software and systems for Department of Defense data-centers. He transitioned into a management role, where he oversaw contract R&D programs. He has since returned to his passion for back end engineering and now specializes in Node.js and Mongo DB. He is also an expert at javascript and Titanium. He has a B.S. and M.Eng. in Electrical and Computer Engineering from Cornell University. <a href="http://linkd.in/OZLQfj">Linkedin</a></p>
  </div>
</div>

<div class= "row">
  <div class="span4">
  <img src="<%= asset_path "anthony.png" %>"/>
    </div>
  <div class= "span8">
    <h1>Anthony</h1>
    <p>Anthony Erlinger is an experienced developer currently completing his Ph.D in Electrical Engineering at Columbia University. He also holds a Masters in Electrical Engineering from Columbia and a B.S in Electrical Engineering from UCLA. He has developed a range of applications and websites including <a href="http://physicsacademy.com">Physicsacademy.com</a>. He is a full stack developer fluent in Ruby on Rails, HTML, CSS, javascript and objective C.<a href="http://www.aerlinger.com"> www.aerlinger.com </a></p>
   </div>
 </div>


<div class= "row">
     <div class= "span4">
        <img src="<%= asset_path "tom.png" %>"/>
     </div>
     <div class= "span8">
        <h1>Tom</h1>
       <p>Tom Long has a strong background in business development and startup management. He started his career in scientific research and then applied his knowledge to the wind industry, where he managed site development, permitting, and government relations. He became increasingly business oriented and took a position as Co-Owner and designer at Namaste Solar. There he led his team in revenue generation and drove major decisions in marketing, finance, and legal. He then obtained an MBA from Cornell University, where he excelled in entrepreneurship, sustainability, and finance. He is the all around generalist at Jeltas and handles everything from sales and project management to light design and programming work. <a href="http://linkd.in/SmvaxH">Linkedin</a></p>
     </div>
</div>
