<%# From ActionView::Helpers::CaptureHelper %>
<% provide(:title, 'Contact') %>
<div class="span12">
  <h1><a href="mailto:info@twentytwo.fm">info@TwentyTwo.fm</a></h1>
  <h1>347.201.1915</h1>
  <h3><a href="http://bit.ly/OP0VRH"> 68 Jay St. #718</a></h3>
  <br/>&nbsp
  <h3>Brooklyn, NY 11201</h3>
  </div>
</div>