<% provide(:title, 'Philosophy') %>

<div class="span12">

  <div class="center hero-unit">
    <img src="<%= asset_path "philosophy.png" %>"/>
  </div>
</div>

<h2>“Beauty of style and harmony and grace and good rhythm depend on simplicity.” -Plato</h2>
<div class="span9">
  <p>We design and build applications around our core philosophies of simplicity, elegance, and speed. Our team evaluates every decision on these three criteria.</p>
  <p>We believe that these concepts are central to good application design in the same way they are central to good product design. Over the course of humanity, people have gravitated toward simple, elegant, and fast solutions to complex problems. We believe that the same is true for technical problems, and as more consumers are given the choice, they will choose simpler options.</p>
  <p>We recognize that sometimes the simplest option is not always the best, and more complex functionality is often required. However, we strive to make the core functions of the product standout, and keep the underlying code simple and readable.</p>
  <br/>&nbsp
  <h2>“Everything should be made as simple as possible, but not simpler.” - Einstein</h2>
</div>