<div class="span9" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <p>TwentyTwo is an exclusive app for musicians to communicate with fans using 22 second audio clips. Musicians can post clips to their followers, and fans can send clips back. </p>
  <p>&nbsp</p>
  <p>It's a <b>fast</b>, <b>fun</b>, and <b>personal</b> way to connect with the artists you love.</p>
</div>