<% @user ||= current_user %>

<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
    </strong>
    Courses
  </a>
  <a href="#">
    <strong id="followers" class="stat">
    </strong>
    Badges
  </a>
</div>