@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #999999;
$grayDark: #333333;
$grayMedium: #666666;
$graylight: #aaaaaa;
$graylighter: #dedede;

$white: #ffffff;
$black: #000000;

$pink: #ff0099;
$blue: #0099ff;
$green: #00ff66;
$yellow: #ffff00;

/* universal */

html {
  overflow-y: scroll;
}

body {

  background-color: $graylighter;

  a {
    color: $grayMedium;
    &:hover {
      color: $black;
    }
  }
}

.hero-unit{
  background: $white;
  margin-top: 35px;
  margin-bottom: 60px;
}

.span4{
  margin-left: 20px;
  margin-right: 0px;
}

.span9{
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 0px;
}

.span12{
  margin-top: 40px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  font-weight: lighter;
  text-align: center;
  color: $black;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  margin-right: 10px;
  color: $black;
}

h3 {
  text-align: center;
  color: $black;
}

h4{text-align: center;
}

h31 {}

p {
  font-size: 2.0em;
  line-height: 2.0em;
  color:$black;

  //text-indent: 40px;

}


/* header */
.navbar {
  margin-top: 0px;
  padding-bottom: 0px;
  //background-image: url(image_tag("rock_background.jpeg"));
  background-color: none;
  border-bottom: 8px solid $blue;
}

/*.navbar .container {
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}*/

.imageback{
  float: left;
  width: 100%;
  height: 100%;
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  gradient: none;
  border: none;
  box-shadow: none;
  background-color: $black;
  background-image: url(image_path('rock_background.jpeg'));
  background-size: 100%;
}

.navbar .nav > li > a {
  float: none;
  font-size: 1.7em;
  padding: 10px 40px 30px 20px;
  line-height: 19px;
  color: $grayLight;
  &:hover{color: $blue;
  text-decoration: underline;
  }
  text-shadow: none;
  }

.logo {
  float: left;
  width: 45%;
  height: 100%;
  //font-size: 1.7em;
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
}

.tagline {
  float: right;
  width: 50%;
  height: 100%;
  //font-size: 1.7em;
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}
.badge {
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}

/* footer */

footer {

  height: 100%;
  margin-top: 150px;
  margin-bottom: 20px;
  background: $graylighter;

  color: $grayMedium;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
      text-align:center;
    }
  }

  ul {
    margin-top:   0px;
    magin-right: 50px;
    float: right;
    list-style: none;
    li {
      float: left;
      font-size: 1.1em;
      margin-left: 1.9em;
    }
   }

}


