<%# Footer to be displayed at bottom of the page %>
<footer>
  <div class="container">

      <nav>
        <%# horizontal list of links at the bottom of the page %>
        <!--<ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Careers", careers_path %></li
        </ul>-->
      </nav>

    <div class="span12">
     <h4> &copy 2012 Copyright TwentyTwo Inc. (photo by Benjamin Lin) </h4>
  </div>
</footer>